body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Foto del profesional */
img.rounded-circle {
    border: 3px solid blueviolet !important;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* Encabezados */
h2.text-secondary{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

h3 {
    margin-top: 1rem;
    color: #0d6efd;
    text-align: center;
}

#calendar {
    height: 100%;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 30px 0;
}

.fc-button {
    background-color: #cdd7f6 !important;
    border-color:  #cdd7f6  !important;
    color: black !important;
}

.fc-button:hover {
    background-color:  #e4e9f9  !important;
    border-color:  #e4e9f9  !important;
    color: white !important;
}

.fc .fc-toolbar-title, .fc-col-header-cell-cushion , .fc-daygrid-day-number  {
    color: black !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
}

a {
    text-align: center;
}


/* Tablas */
.table-responsive {
    margin-top: 20px;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table thead th {
    background-color: #8bb5f5be;
    color: #fff;
}

.table tbody td {
    color: #333;
}

/* Botones */
.btn {
    border-radius: 5px;
}

.btn-primary,
.btn-success {
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    img.rounded-circle {
        max-width: 120px;
        max-height: 120px;
    }

    h2.text-primary {
        font-size: 1.5rem;
    }

    #calendar {
        font-size: 0.85rem; 
    }
    
    .fc-toolbar.fc-header-toolbar {
        flex-direction: column; 
        align-items: center;
    }

    .fc-toolbar .fc-toolbar-chunk {
        margin-bottom: 10px; 
    }
}
