body {
    background-color: #f8f9fa;
}

div .container {
    margin: 130px auto;
}

.form-container {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
}

/* Estilo de los inputs */
.input-custom {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    transition: border-color 0.3s;
}

.input-custom:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Botones */
button.btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s;
}

button.btn-primary:hover {
    background-color: #0056b3;
}

.form-container h1 {
    color: #343a40;
    font-weight: bold;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-secondary:hover {
    background-color: #565e64;
}
