* {
    font-family: 'Times New Roman', Times, serif;
}

.contacto {
    padding: 40px 0;
}

.informacion {
    margin: 0 20px;
}

.contacto-informacion a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin: 25px 50px;
    margin-bottom: 10px;
}

.contacto-informacion i {
    margin-right: 10px;
    font-size: 10px;
}

.boton {
    background-color:#c57d56;
    color: white;
    padding: 10px 47%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton:hover {
    background-color: #eacdbc;
    color: black;
}
