/* Contenedor principal */
.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Asegura que se ocupe toda la altura de la ventana */
    margin: 0;
    padding-top: 20px;
}

/* Contenedor de la cabecera */
.contenedor-cabecera {
    width: 100%;
    max-width: 750px; /* Limita el ancho máximo */
    text-align: center;
    margin-bottom: 20px;
}

/* Sección del usuario */
.seccion-usuario {
    text-align: center;
    margin-bottom: 20px;
}

/* Cabecera h2 */
.seccion-usuario h2 {
    font-size: 25px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
}

/* Contenido principal centrado */
.contenido-central {
    width: 100%;
    max-width: 750px;
    margin: 0 auto; /* Centramos el contenido */
    padding: 20px;
}

/* Estilo para las tarjetas de servicio */
.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.233);
    margin: 10px 0;
}

/* Títulos de las tarjetas */
.card-title {
    padding-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

/* Precios en las tarjetas */
.precio {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Formulario de cancelación */
.seccion-cancelar {
    max-width: 350px;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Ajuste en la sección de cancelación para moverla hacia abajo */
.seccion-cancelar p {
    margin-top: 30px; /* Mueve el mensaje más abajo */
    font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
    color: rgb(150, 150, 150); /* Color más suave para el texto */
}


/* Estilo de los botones */
.seccion-cancelar button {
    width: 100%;
    font-size: 1.1rem;
}

/* Títulos principales */
h1 {
    color: rgb(28, 28, 209);
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 2rem;
}

/* Párrafos con advertencias */
p {
    color: red;
}

/* Ajustes de responsividad */
@media (max-width: 767px) {
    /* Ajuste para el contenedor central */
    .contenedor-cabecera {
        max-width: 100%;
    }

    /* Ajuste para las tarjetas */
    .row-cols-md-2 {
        display: flex;
        flex-direction: column; /* Alineación vertical en dispositivos pequeños */
    }

    .seccion-cancelar {
        width: 100%;
        margin-top: 20px;
    }

    .card-title {
        font-size: 1rem; /* Reduce el tamaño de fuente en móviles */
    }

    /* Sección del usuario */
    .seccion-usuario h2 {
        font-size: 1.5rem; /* Reduce el tamaño de la fuente del nombre en móviles */
    }

    /* Mejor ajuste de márgenes */
    .contenido-central {
        padding: 10px;
        margin: 0 10px;
    }
}
