.container-fluid {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 15px;
}

/* Estilos de botones del calendario */
.fc-button {
    background-color: #cdd7f6 !important;
    border-color:  #cdd7f6  !important;
    color: black !important;
}

.fc-button:hover {
    background-color:  #e4e9f9  !important;
    border-color:  #e4e9f9  !important;
    color: white !important;
}

/* Títulos */
.titulo {
    text-align: center;
    letter-spacing: 2px;
    color: rgb(28, 28, 209);
    margin: 35px 0;
}

/* Tablas */
.table {
    margin-top: 15px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}

.card {
    background-color: #fff;
    border: 1px solid #c5c3c3;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(228, 225, 225, 0.555);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Imágenes de cartas */
.card-img-top {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
    border-radius: 8px;
}

/* Texto de las cartas */
.card-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card-title::first-letter {
    text-transform: uppercase;
}
.card-text {
    font-size: 15px;
    color: #555555;
    text-align: justify;
    margin-bottom: 10px;
}

/* Botones */
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #cdd7f6 ;
    border: #cdd7f6 !important;
}

.btn:hover {
   background-color: green !important;
}

/* Links de edición */
.text-end .btn {
    font-size: 16px;
    color: black;
    background-color: #cdd7f6;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Mensajes cuando no hay servicios - profesionales disponibles  */
.alert-warning {
    color: black;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}
