.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0;
    padding-top: 20px;
}

/* Contenedor superior: usuario y servicios */
.contenedor-cabecera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 750px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.seccion-usuario {
    text-align: left;
    flex: 0 0 30%;
}

.seccion-servicio {
    text-align: right;
    flex: 0 0 30%;
}

/* Contenido central */
.contenido-central {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.seccion-cancelar {
    flex: 1 1 auto;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

h1 {
    color: rgb(28, 28, 209);
    text-align: center;
    letter-spacing: 10px;
    margin-top: 10px;
}

p {
    color: red;
}

/* Calendario */
#calendario {
    background-color: white !important;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos de botones del calendario */
.fc-button {
    padding: 10px;
    background-color: #cdd7f6 !important;
    border-color:  #cdd7f6  !important;
    color: black !important;
}

.fc-button:hover {
    background-color:  #e4e9f9  !important;
    border-color:  #e4e9f9  !important;
    color: white !important;
}

.fc .fc-col-header-cell-cushion, .fc-daygrid-day-number  {
    color: black !important;
    text-decoration: none !important;
    text-transform: uppercase;
}

.fc .fc-toolbar-title {
    text-transform: uppercase;
}

a {
    text-align: center;
}

/* Formulario de cancelación de citas */
.seccion-cancelar form {
    display: flex;
    flex-direction: column;
}

.seccion-cancelar label {
    font-weight: bold;
    margin-bottom: 10px;
}

.seccion-cancelar button {
    background-color: #d86b6b;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #calendario {
        margin-left:50px;
    }

    .seccion-servicio select {
        font-size: 14px; 
        padding: 5px; 
        width: 150px; 
    }

    .fc {
        font-size: 12px;
    }

    .fc-toolbar {
        flex-wrap: wrap;
    }

    .fc-toolbar .fc-left,
    .fc-toolbar .fc-center,
    .fc-toolbar .fc-right {
        flex: 1 1 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .fc-dayGridMonth-view {
        /* Reduce el tamaño de las celdas en pantallas pequeñas */
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-width: 480px) {
    .seccion-servicio select {
        font-size: 12px;
        padding: 3px;
        width: 120px;
    }
}
