* {
    font-family: 'Times New Roman', Times, serif;
}

.principal {
    position: relative;
    text-align: center;
 }
 
.principal img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    filter: blur(4px);
 }
 
.principal h2 {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 48px;
    text-shadow: 2px 2px 4px white;
    margin: 0;
    letter-spacing: 8px;
    font-weight: bold;
 }

.info{
    margin: 20px 50px;
}

h1 {
    font-weight: bold;
}

.carr {
    width: 550px;
    height: 500px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}


/*ESTILOS SERVICIOS EN LA PÁGINA INICIO*/
.card {
    background-color: #fff;
    border: 1px solid #c5c3c3;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(228, 225, 225, 0.555);
    border-radius: 10px;
    max-width: 1700px;
    height: 700px;
    margin: 15px;
    flex: 1 1 30%;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
}

.text-center {
    text-align: center;
    font-size: 70px;
    margin-top: 55px;
}

.card-title {
    text-align: center;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.card-text {
    font-size: 17px;
    color: #555555;
    text-align: justify;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 100px;
}

.btn {
    display: flex;
    background-color:#c57d56;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 20px;
    /* margin-top: 10px; */
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #eacdbc;
    color: black;
}


/*@media (max-width: 768px) {
    .card-deck {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {

    .card-title {
        font-size: 1.2rem;
    }

    .card-text {
        font-size: 0.9rem;
    }
}*/

/*ESTILOS DE CONTACTO */
.contacto {
    padding: 40px 0;
}

.informacion {
    margin: 0 20px;
}

.contacto-info a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    margin: 25px 50px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.boton {
    background-color:#c57d56;
    color: white;
    padding: 10px 47%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton:hover {
    background-color: #eacdbc;
    color: black;
}

/*ESTILOS ACCEDER Y REGISTRO*/
.container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    height: 80vh;
    background-color: #F9F1F0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.derecha {
    width: 50%;
    /*background-color: #f0ebe4;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.derecha .imagen {
    max-width: 100%;
    height: 550px;
}

.izquierda {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 38px;
    margin: 0px 15px 15px 0px;
    /* margin-bottom: 30px; */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.submit-btn {
    background-color:#F8AFA6;;
    color: black;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.submit-btn:hover {
    background-color: black;
    color: white;
}

.registrar {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #007bff;
}

.registrar:hover {
    text-decoration: underline;
}

/*NOTIFICACIONES*/
.notificacion {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: black;
    opacity: 1;
    transition: opacity 0.5s ease;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.exito {
    background-color: greenyellow;
}

.error {
    background-color: red;
}