/*ESTILOS HEADER - FOOTER*/
* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100%; 
   padding-bottom: 120px; 
   overflow-x: hidden;
}

/* ESTILOS HEADER */
header {
  display: flex;
  top: 0%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #eacdbc;
  padding: 0 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.logo img {
  height: 100px;
  width: 200px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  color: white;
}

/* ESTILOS FOOTER */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #eacdbc;
  padding: 0 20px;
  box-shadow: 1px -6px 7px 0px rgba(0, 0, 0, 0.1);
  z-index: 10; 
}

.fot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fot a {
  padding-left: 20px;
}

.fot .icon {
  width: 30px;
  height: 30px;
}

.commons p {
  text-align: center;
}

/* RESPONSIVIDAD */
@media (max-width: 768px) {
   .fot {
       flex-direction: column; 
       gap: 10px;
   }
   .commons p {
       font-size: 12px;
   }
}
