body {
    font-family: 'Times New Roman', Times, serif;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-info {
    font-size: 1.5rem;
}

input[type="text"], .form-select, textarea {
    margin-bottom: 20px;
}

.row .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.table {
    text-align: center;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.form-label {
    font-weight: bold;
}

textarea.form-control {
    resize: none;
}

/* Calendario */
#calendario {
    margin-top: 20px;
}

.fc-button {
    background-color: #cdd7f6 !important;
    border-color:  #cdd7f6  !important;
    color: black !important;
}

.fc-button:hover {
    background-color:  #e4e9f9  !important;
    border-color:  #e4e9f9  !important;
    color: white !important;
}

.fc .fc-toolbar-title, .fc-col-header-cell-cushion , .fc-daygrid-day-number  {
    color: black !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
}

@media (max-width: 768px) {
    .fc {
        font-size: 12px;
    }
}