.form-container {
    background-color: #f8f9fa; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn .btn-success {
    background-color:  #e4e9f9  !important;
}

.span {
    color: red;
}

@media (min-width: 768px) {
    .form-container {
        max-width: 700px; 
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .form-container {
        max-width: 100%;
        margin: 0 10px; 
    }
}